@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    user-select: none;
    background: #000900;

}
#formLabel{
    font-weight: bold;
    color: white;


}
#formInput{

    border: 1px solid white;
    padding: 12px;
    background-color: #000900;


}
#formInput:focus{
    background-color: #000900;
}
#formInput:-webkit-autofill,
#formInput:-webkit-autofill:hover,
#formInput:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000900 inset;
}
